.table {
  border-collapse: collapse;
  // width: max-content;
  margin: 10px;

  background-color: #fff;
  border: 1px solid #dee2e6;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;

  &__column {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    font-weight: bold;
    text-transform: uppercase;
    color: #333;
  }

  &__rows:hover {
    background-color: #f0f0f0;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  }

  &__header {
    background-color: #f3ece6;
  }

  &__modal {
    padding: 10px 15px;
    margin-bottom: 5px;
    margin-right: 5px;

    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;

    border: none;
    outline: none;
    cursor: pointer;

    &--confirm {
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
      background-color: #a99d84;
      color: #f2f2f2;

      &:hover {
        background-color: #6a6253;
      }

      &:active {
        background-color: #6a6253;
      }
    }

    &--cancel {
      background-color: #fff;
      color: #a99d84;
      font-weight: normal;

      &:hover {
        background-color: #f2f2f2;
      }
    }
  }

  &__row--name,
  &__row--author,
  &__row--published,
  &__row--edit,
  &__row--view,
  &__row--delete {
    text-align: center;
    height: 50px;
    padding: 5px;
    border-bottom: 1px solid #ddd;

    font-weight: 500;
    color: #333;
  }

  &__column--name,
  &__column--author,
  &__row--name,
  &__row--author {
    width: 200px;
  }

  &__row--name {
    padding-left: 20px;
  }

  &__row--view {
    padding-right: 10px;
  }

  &__column--published,
  &__row--published {
    width: 25%;
  }

  &__column--view,
  &__column--delete,
  &__column--edit {
    padding: 12px;
    text-align: center;
  }

  &__row--view,
  &__row--delete,
  &__row--edit {
    cursor: pointer;
    text-align: center;
  }
}

@media (max-width: 850px) {
  .table thead {
    display: none;
  }

  .table__rows:nth-child(even) {
    background-color: #f3ece6;
  }

  .table__rows:hover {
    background-color: #f0f0f0;
  }

  .table__rows {
    position: relative;
  }

  .table__row--name,
  .table__row--author,
  .table__row--published {
    display: block;
    width: 350px;
    padding-right: 35px;
    text-align: right;
    line-height: 40px;
  }

  // .table__row--edit {
  //   line-height: 35px;
  // }

  .table__row--edit,
  .table__row--delete,
  .table__row--view {
    display: inline-block;
    padding-top: 14px;
    width: 95px;
    text-align: right;
    border-bottom: none;
  }

  .table__row--published::before,
  .table__row--author::before,
  .table__row--name::before {
    content: attr(data-label) ": ";

    position: absolute;
    left: 35px;
    text-align: left;

    font-weight: bold;
    text-transform: uppercase;
    color: #333;
  }

  // .table__row--delete {
  //   position: absolute;
  //   top: 158px;
  //   left: 275px;
  //   text-align: right;
  // }

  // .table__row--view {
  //   position: absolute;
  //   left: 150px;
  //   top: 160px;
  // }
}
