@import "./components/HomeComponent/Home.scss";
@import "./components/HomeComponent/Table/Table.scss";
@import "./components/HomeComponent/AddButton/AddButton.scss";
@import "./components/AddForm/AddForm.scss";
@import "./components/EditForm/EditForm.scss";
@import "./components/HomeComponent/Footer/Footer.scss";
@import "./components/ValidationModal/ValidationModal.scss";
@import "./components/PopupMessege/PopupMessege.scss";


* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  margin: 0;
}
